html {
    font-family: 'Times New Roman';
}

body {
    margin: 8px;
}

h1 {
    font-weight: normal;
    display: block;
    border-bottom: 1px solid #a2a9b1;
}

a {
    text-decoration: none;
    color: #0645ad;
}

table {
    border-collapse: collapse;
}

th {
    background-color: #ebebeb;
}

tr:nth-child(even) {
    background-color: #f5f5f5;
}

th, td {
    padding: 0.5em;
}

pre {
    padding: 1em;
    font-family: monospace;
    background-color: #f5f5f5;
    white-space: pre-wrap;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
