html {
    font-size: 16px;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    margin: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

h1 {
    font-weight: normal;
    display: block;
    border-bottom: 1px solid #aeaeae;
}

a {
    text-decoration: none;
    color: #1976d2;
}

table {
    border-collapse: collapse;
}

th {
    background-color: #f5f5f5;
}

tr:nth-child(even) {
    background-color: #eee;
}

th,
td {
    padding: 0.5em;
}

pre {
    padding: 1em;
    font-family: 'Roboto Mono', monospace;
    background-color: #eee;
    white-space: pre-wrap;
    font-size: 13px;
}

.topnav {
    background-color: #263238;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    padding: 14px 16px;
    float: left;
    color: #fff;
    text-align: center;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #bdbdbd;
    color: #000;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #1faa00;
    color: #000;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) { display: none; }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive { position: relative; }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.footer {
    background-color: #263238;
    color: #fff;
    text-align: center;
    height: 50px;
    width: 100%;
}

.content {
    margin: 8;
    padding: 14px 16px;
    flex-grow: 1;
}

ul {
    overflow: auto;
}

ul li {
    list-style-type: none;
    float: left;
}

ul li a p {
    padding-bottom: 15px;
    padding-right: 10px;
}

ul li a i {
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    padding-top: 14px;
}
