[access]
	inheritFrom = labs/tools
[receive]
	requireChangeId = false
[submit]
	mergeContent = true
[access "refs/*"]
	owner = group labs-tools-ZppixBot
	push = group labs-tools-ZppixBot
	submit = group Registered Users
	submit = group labs-tools-ZppixBot
[project]
	description = Sopel IRC bot. See zppixbot.toolforge.org for more info.
